################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Templ/FileContentIndex
/Templ.API/bin/Debug/net6.0
/Templ.API/obj
